<header> Movies </header>
<table>
  <thead>
    <tr>
      <th>Poster</th>
      <th>Title</th>
      <th>Release Year</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <% if movie.poster.attached? %>
            <img src="<%= url_for(movie.poster) %>" alt="Poster for <%= movie.title %>" style="width: 150px;">
          <% end %>
        </td>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.status %></td>
        <td><%= link_to "View Details", movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>